.from-box{
    -fx-background-color: #fff;
    -fx-background-radius: 20;
    -fx-effect: dropshadow( gaussian ,dimgray,40,0.1,0,0);
}

.bevel-grey {

    -fx-text-fill: #fff ;
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-background-color:
            linear-gradient(#17A2E3, #348DD8),
            linear-gradient(#17A2E3 0%, #348DD8 20%, #0362FE 100%),
            linear-gradient(#348DD8 0%, #17A2E3 50%);
    -fx-background-radius: 50;
    -fx-background-insets: 0,1,2;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}